<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <h:head>
        <title><ui:insert name="title">CSS</ui:insert></title>

	<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />	
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Bootstrap -->
        <h:outputStylesheet  name="third/bootstrap/css/bootstrap.min.css" />

	<!-- App style -->    
        <h:outputStylesheet name="css/main.css" />

        <link rel="shortcut icon" type="image/png" href="resources/images/favicon.png" />
              
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body>
        <!-- Menu -->
        <ui:insert name="menu">
            <ui:include src="../sections/menu.xhtml" />
        </ui:insert>
        
        <!-- Page content -->
        <div class="container theme-showcase" role="main">
            <ui:insert name="main">
                <ui:include src="../sections/defaultmain.xhtml" />
            </ui:insert>            
        </div>
        
        
        <!-- Javascript libraries -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        
	<!-- Include all compiled plugins (below), or include individual files as needed -->
        <h:outputScript  name="third/bootstrap/js/bootstrap.min.js" />
        <!-- Holder (for image zones) -->
        <h:outputScript name="third/holder/holder.min.js" />
	<!-- App js -->
        <h:outputScript name="js/main.js" />
    </h:body>
</html>
