<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>JSF PrimeFaces File Upload Example</title>
    </h:head>
    <h:outputScript name="third/jquery/jquery.min.js" />
    <ui:composition template="WEB-INF/templates/classic.xhtml">
        <ui:define name="title">Ajouter un fichier</ui:define>
        <ui:define name="main">
            <h:body>
                <h3>Ajout d'un fichier dans le dossier  <h:outputLabel value ="#{folderController.selectedNode.data}" style="color:rgb(191, 120, 120);"/></h3>
                <h:form id="fileUpoad" prependId="false" enctype="multipart/form-data">
                    <!-- File Upload with  mode="advanced". multiple files can be uploaded. upload button  -->
                    <h:outputLabel for="fileIdFile" value="Ajouter votre fichier:" />
                    <p:fileUpload id="fileIdFile"  fileUploadListener="#{folderController.uploadFile}" mode="advanced" dragDropSupport="true" multiple="false" update="messages" sizeLimit="10000000"/>
                    <p:messages id="messages" autoUpdate="true" closable="true" />
                    <p:separator/>
                    <p:commandButton value="Retour" action="#{folderController.goBoard}" icon=" ui-icon-carat-1-w" style="margin-right : 20px;"/>
                        
                </h:form>                                 
            </h:body>
        </ui:define>
    </ui:composition>
</html>