<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >
      <!--xmlns:shiro="http://shiro.apache.org/tags"-->
      <style>
        table a:not(.btn), .table a:not(.btn) {
            text-decoration: none;
        }
      </style>
    <ui:composition template="WEB-INF/templates/classic.xhtml">
        <ui:define name="title">Demo</ui:define>
        <ui:define name="main"> <h:outputScript name="third/jquery/jquery.min.js" />
            <h:body>
                
                <div class="row">
                    <h:form id="idTree">
                        <p:contextMenu for="tree">
                            <p:menuitem value="Delete" actionListener="#{folderController.doDelete}" update="idTree" icon="ui-icon-close"/>
                        </p:contextMenu>
                        <!-- Arborescence -->
                        <div class="col-lg-4" >
                            <div class="panel panel-primary" style="background-color:white;">
                                <div class="panel-heading">Arborescence</div>
                                <div class="panel-body" >
                                        <p:tree style ="width: 240px;border:0px;" id="tree" value="#{folderController.root}" var="node" dynamic="true" selectionMode="single" selection="#{folderController.selectedNode}">
                                            <p:ajax event="select" update=":idTree" listener="#{folderController.onNodeSelect}"/>
                                            <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                                 <h:outputText value="#{node}" />
                                             </p:treeNode>
                                        </p:tree>
                                        <p:inputText value="#{folderController.newNodeName}"/><br/>
                                        <div style="margin-top: 20px;">
                                            <p:commandButton value="Ajouter" actionListener="#{folderController.doCreate}" update="idTree" icon="ui-icon-disk" style="margin-right : 20px;"/>
                                            <p:commandButton value="Renommer" actionListener="#{folderController.doUpdate}" update="idTree" icon="ui-icon-arrowrefresh-1-w" style="margin : 0px;"/>
                                        </div>
                                </div>
                             </div>
                        </div>
                        <!-- Affichage de la vue -->
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h:outputLabel value ="#{folderController.path}" style="color:white;"/>
                                        </div>
                                <div class="panel-body">
                                    
                                    <p:dataTable id="elementsTable" var="element"  value="#{folderController.content}" selection="#{folderController.selectedElements}" rowKey="#{element.name}" >
                                       

                                        <f:facet name="header">
                                            Dossier <h:outputLabel value ="#{folderController.selectedNode.data}" style="color:rgb(191, 120, 120);"/>
                                        </f:facet>
                                        <p:ajax event="rowDblselect" update=":idTree" listener="#{folderController.onElementSelect}" />
                                                <p:column style="width:40px;text-align: center;" selectionMode="multiple"/>
                                                <p:column style="width:40px;text-align: center;" headerText=" ">
                                                    <p:graphicImage style="max-width: 20px; max-height: 20px;" name="#{element.iconPath}"/><br/>
                                                </p:column>


                                                <p:column headerText="Nom" >
                                                    <h:outputText value="#{element.elementName}" />
                                                </p:column>
                                                <p:column style="width:200px;" headerText="Taille" >
                                                    <h:outputText value="#{element.elementSize}" />
                                                </p:column>
                                                <f:facet name="footer">
                                                    <p:commandButton  value="Ajouter un fichier" action="#{folderController.doCreateFile}"/>
                                                    <p:commandButton  process="elementsTable" update="idTree" icon="ui-icon-close" value="Supprimer" action="#{folderController.deleteElements()}" />
                                                     </f:facet>
                                           </p:dataTable>
                                </div>
                             </div>
                        </div>
                    </h:form>
                </div> 
                <p:messages id="messages" autoUpdate="true" closable="true" />
            </h:body>
        </ui:define>
    </ui:composition>
</html>